@page "/createtask"

@using BlazorProject.Data
@using Dapper
@using global::Data.ViewModels
@using global::Data.Services
@using Task = System.Threading.Tasks.Task
@inject AddClientService Client
@inject TaskService NewTask
@inject LoginIdentity Identity

@using global::Data.Services
@inject global::Data.Services.TaskService TaskService


<PageTitle>Create New Task</PageTitle>

<h3>NewTask</h3>

<p role="status">Create a new task request: @newTask</p>

@if (showBanner)
{
    <div>You have successfully created a task!</div>
}



<div>
    <EditForm Model="@newTask" OnSubmit="@AddNewTask">
        <div class="row">
            <div class="col-md-6">
                <label for="TaskType">Task Type (Oral/Written/Phone):</label>
                <InputText id="TaskType" class="form-control" @bind-Value="newTask.TaskType" />
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <label for="Date">Date of Task (as 06/02/2023):</label>
                    <InputText id="Date" class="form-control" @bind-Value="@Date" />
                </div>
                <div class="col-md-6">
                    <label for="StartTime">Start Time (as 12:30:15):</label>
                    <InputText id="StartTime" class="form-control" @bind-Value="@StartTime" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="EndTime">End Time (as 12:30:15):</label>
                    <InputText id="EndTime" class="form-control" @bind-Value="@EndTime" />
                </div>
                <div class="col-md-6">
                    <label for="Urgent">Urgent (1-Yes/0-No):</label>
                    <InputNumber id="Urgent" class="form-control" @bind-Value="newTask.Urgent" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="Difficult">Difficult (1-Yes/0-No):</label>
                    <InputNumber id="Difficult" class="form-control" @bind-Value="newTask.Difficult" />
                </div>
                <div class="col-md-6">
                    <label for="City">City:</label>
                    <InputText id="City" class="form-control" @bind-Value="@newTask.CityAddress" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="Street">Street:</label>
                    <InputText id="Street" class="form-control" @bind-Value="@newTask.Street" />
                </div>
                <div class="col-md-6">
                    <label for="HouseNr">House nr:</label>
                    <InputText id="HouseNr" class="form-control" @bind-Value="@newTask.HouseNr" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="TranslatorId">Translator Id:</label>
                    <InputNumber id="TranslatorId" class="form-control" @bind-Value="newTask.TranslatorId" />
                </div>
                <div class="col-md-6">
                    <label for="LanguageId">Language Id:</label>
                    <InputNumber id="LanguageId" class="form-control" @bind-Value="newTask.LanguageId" />
                </div>
                </div>
        
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>


@code {
    private TaskRequest newTask = new();
    private bool showBanner = false;
    private string Date;
    private string StartTime;
    private string EndTime;


    private void AddNewTask()
    {
        newTask.DateOfTask = DateTime.Parse(Date); //06/02/2023    
        newTask.StartTime = TimeSpan.Parse(StartTime); //12:30:15
        newTask.EndTime = TimeSpan.Parse(EndTime);
        newTask.ClientId = 22;
        TaskService.AddTaskViaDapper(newTask);
        showBanner = true;
    }

}



 








